# Tmux
tmux/plugins/tmux-resurrect/*
tmux/plugins/tmux-sensible/*
tmux/plugins/tmux-continuum/*
tmux/resurrect/*
tmux/auto-save-list/*

# Vim files
*.*~


# Emacs files
emacs.d/#*#
emacs.d/*.*~

# Log files
*.log

# Vifm 
vifm/vifminfo*

# backup files 
*.*~
