* {
/*
  Declare variables gives error
  domain: gtk-css-provider-error-quark
  code  : 1
  what  : style.css:3:4Expected semicolon

--border-line: 1px solid #b55602;
    --border-color: #b55602;
    --border-thick: 1px;
    --border-solid: solid;
*/
    border: none;
    border-radius: 0;
    /* font-family: Cartograph CF Nerd Font, monospace; */
    font-family: "JetBrainsMono Nerd Font", "FiraCode Nerd Font", "Mononoki Nerd Font", 
                 "Hack Nerd Font", "CaskaydiaCove Nerd Font", "MesloLGS Nerd Font",
                 monospace;
    /* font-family: JetBrain Nerd Font, cantarell; */
        /* font-family: "FontAwesome", "Noto Sans", sans-serif; */
    font-weight: bold;
    font-size: 13px;
    /* min-height: 0; */
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
    
}

tooltip {
    background: #1e1e2e;
    border-radius: 5px;
    /* border-width: 2px; */
    /* border-style: solid; */
    /* border-color: 1px solid orange; */
    border-left: 1px solid orange;
    border-right: 1px solid orange;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}

#workspaces button {
    /* padding: 5px; */
    /* color: #cdd6f4; */
    color: #6c7ccc;
    /* margin-right: 5px; */
}

#workspaces button.active {
    color: #f9e2af;
    /* color: #fa9c57; */
}

#workspaces button.focused {
    color: #a61118;
    background: #eba0ac;
    /* border-radius: 5px; */
}

#workspaces button.urgent {
    color: #11111b;
        background: #a6e3a1;
    /* border-radius: 10px; */
}

#workspaces button:hover {
    /* background: #556789; */
    color: #cdd6f4;
    /* border-radius: 5px; */
}
#workspaces button.unfocused {
    /* Explicit unfocused style */
    color: #633086;
    opacity: 0.7;
}
#workspaces button.empty {
    color: orangered;
}


#custom-keyboard,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#memory,
#cpu,
#custom-battery,
#pulseaudio,
#custom-network,
#workspaces,
#tray,
#custom-backlight,
#custom-arch,
#backlight {
    /* background: #1e1e2e; */
    /* padding: 0px 10px; */
    /* margin: 3px 0px; */
    /* margin-top: 10px; */
    /* border: 1px solid #181825;    Enabling this property will cause breaks to appear between modules. */
}

#custom-arch {
    padding-right: 10px;
    padding-left: 16px;
    border-radius: 5px 0px 0px 0px;
    border-left: 1px solid orange;
    /* border-right: 1px solid orange; */
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    background-color: #1e1e2e;
    
}
#tray {
        border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    background-color: #1e1e2e;
}

#workspaces {
    padding-right: 10px;
    padding-left: 10px;
    background: #1e1e2e;
    border-radius: 0px 0px 0px 0px;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    /* border-left: 1px solid orange; */
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    padding-right: 5px;
    padding-left: 5px;

    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-keyboard {
    padding-right: 10px;
    padding-left: 5px;

    color: #f38ba8;
    border-radius: 3px 0px 0px 0px;
    background: #1e1e2e;
    /* font-family: Cartograph CF Nerd Font, monospace; */
    /* font-weight: bold; */
    /* font-size: 12px; */
    padding-left: 10px;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    border-left: 1px solid orange;
        background-color: #1e1e2e;
}
#custom-updates {
    padding-right: 5px;
    padding-left: 5px;

    color: #f5c2e7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 5px 0px 0px 5px;;
}

#window {
    border-radius: 5px;
    border: 1px solid orange;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #1e1e2e;
    color: white;
}

#clock {
    padding-right: 5px;
    padding-left: 0px;
    background-color: #1e1e2e;
    color: #f9e2af;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}

#cpu {
    padding-right: 5px;
    padding-left: 10px;
    background-color: #1e1e2e;
    color: #ffffff;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    
}

#custom-network {
    background-color: #1e1e2e;
    color: #f9e2af;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;

}

#pulseaudio {
    background-color: #1e1e2e;
    color: #89b4fa;
    /* border-left: 0px; */
    /* border-right: 0px; */
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    /* border-right: 1px solid orange; */
}

#pulseaudio.microphone {    
    padding-right: 5px;
    padding-left: 5px;
    background-color: #1e1e2e;
    color: #cba6f7;
    margin-right: 5px;
    border-radius: 0 5px 5px 0;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    border-right: 1px solid orange;
}

#custom-battery {
    padding-right: 5px;
    padding-left: 12px;
    background-color: #1e1e2e;
    color: #a6e3a1;
    /*border-radius: 0 5px 5px 0;*/
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;

}

#custom-weather {
    background-color: #1e1e2e;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 0px 5px 5px 0px;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    border-right: 1px solid orange;
}
#custom-backlight {
    padding-right: 10px;
    padding-left: 10px;
    font-family: inherit;
        background-color: #1e1e2e;
    color: #ffffff;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;

}
#memory {
    padding-right: 10px;
    padding-left: 5px;
    background-color: #1e1e2e;   
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}
