* {
    border: none;
    border-radius: 0;
    /* font-family: Cartograph CF Nerd Font, monospace; */
    font-family: "JetBrainsMono Nerd Font", "FiraCode Nerd Font", "Mononoki Nerd Font", 
                 "Hack Nerd Font", "CaskaydiaCove Nerd Font", "MesloLGS Nerd Font",
                 monospace;
    /* font-family: JetBrain Nerd Font, cantarell; */
        /* font-family: "FontAwesome", "Noto Sans", sans-serif; */
    font-weight: bold;
    font-size: 13px;
    /* min-height: 0; */
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    /* color: #cdd6f4; */
    color: #6c7ccc;
    margin-right: 5px;
}

#workspaces button.active {
    color: #f9e2af;
    /* color: #fa9c57; */
}

#workspaces button.focused {
    color: #a61118;
    background: #eba0ac;
    border-radius: 5px;
}

#workspaces button.urgent {
    color: #11111b;
        background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    /* background: #556789; */
    color: #cdd6f4;
    border-radius: 5px;
}
#workspaces button.unfocused {
    /* Explicit unfocused style */
    color: #633086;
    opacity: 0.7;
}
#workspaces button.empty {
    color: #6c7ccc;
}


#custom-keyboard,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#memory,
#cpu,
#custom-battery,
#pulseaudio,
#custom-network,
#workspaces-rw,
#tray,
#custom-backlight,
#custom-arch,
#backlight {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #181825;
}

#custom-arch {
    border-left: 0px;
    border-right: 0px;
    
}
#tray {
    border-radius: 5px;
    margin-right: 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 5px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: #89dceb;
    border-radius: 5px 0px 0px 5px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
}

#custom-keyboard {
    color: #f38ba8;
    border-left: 0px;
    border-right: 0px;
    border-radius: 5px 0px 0px 5px; 
    background: #1e1e2e;
    /* font-family: Cartograph CF Nerd Font, monospace; */
    /* font-weight: bold; */
    /* font-size: 12px; */
    padding-left: 10px;
    padding-left: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 3px;
}
#custom-updates {
    color: #f5c2e7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 5px 0px 0px 5px;;
}

#window {
    border-radius: 5px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#cpu {
    color: #ffffff;
    border-left: 0px;
    border-right: 0px;
    
}

#custom-network {
    color: #f9e2af;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    margin-right: 5px;
    border-radius: 0 5px 5px 0;
}

#custom-battery {
    color: #a6e3a1;
    /*border-radius: 0 5px 5px 0;*/
    margin-right: 0px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 5px 5px 0px;
    border-right: 0px;
    margin-left: 0px;
}
#custom-backlight {
        font-family: inherit;
    color: #ffffff;
    border-right: 0px;
    margin-left: 0px;
}
