[Unit]
Description=dwm status bar

[Service]
Type=simple
ExecStart=/usr/local/bin/slstatus 
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
