[Unit]
Description=Network manager applet service 
After=NetworkManager.service

[Service]
Type=simple
ExecStart=/usr/bin/nm-applet --no-daemon
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
