[Unit]
Description=Simple X Hotkey Daemon

[Service]
Type=simple
ExecStart=/usr/bin/sxhkd 
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
